.navLink {
    cursor: pointer;
}

.content-container {
    background-color: #e4e8ee;
    border-radius: 5px;
    padding-top: 1.25em;
}

.track-card picture {
    cursor: pointer;
}
.track-card img {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.store-button {
    /* text-align: center; */
    color: azure;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    background-color: #373b41;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
}

a:hover {
    color:azure;
    text-decoration:none;
    cursor:pointer;
}

.store-button:hover {
    /* background-color: #373b41; */
    opacity: 0.6;
}

.track-details {
    color: azure;
}

.other-songs {
    color: azure;
}
